In [3]:
import pandas as pd

mydataset = {
  'cars': ["Alto", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0   Alto         3
1  Volvo         7
2   Ford         2

In [8]:
a =[ 1,9,3]
myvar1 = pd.Series(a)
print(myvar1)

0    1
1    9
2    3
dtype: int64

In [9]:
print(myvar1[0])

1

# creating labels

In [10]:
a = [10,20,30]

In [11]:
myvar3 = pd.Series(a, index = ["x","y","z"])
print(myvar3)

x    10
y    20
z    30
dtype: int64

In [13]:
# print the values
print(myvar3["y"])

20

In [14]:
print(myvar3["z"])

30

# creating simple pandas series from a dictionary

In [15]:
calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [16]:
# Create a Series using only data from "day1" and "day2":

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [17]:
# Create a DataFrame from two Series:


data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

# Create a simple Pandas DataFrame:

In [18]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45