In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("spotify.csv")

In [ ]:
df

           Date  Shape of You  ...    HUMBLE.  Unforgettable
0    2017-01-06      12287078  ...        NaN            NaN
1    2017-01-07      13190270  ...        NaN            NaN
2    2017-01-08      13099919  ...        NaN            NaN
3    2017-01-09      14506351  ...        NaN            NaN
4    2017-01-10      14275628  ...        NaN            NaN
..          ...           ...  ...        ...            ...
361  2018-01-05       4492978  ...  2685857.0      2869783.0
362  2018-01-06       4416476  ...  2559044.0      2743748.0
363  2018-01-07       4009104  ...  2350985.0      2441045.0
364  2018-01-08       4135505  ...  2523265.0      2622693.0
365  2018-01-09       4168506  ...  2727678.0      2627334.0

[366 rows x 6 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Date                      366 non-null    object
 1   Shape of You              366 non-null    int64
 2   Despacito                 359 non-null    float64
 3   Something Just Like This  319 non-null    float64
 4   HUMBLE.                   282 non-null    float64
 5   Unforgettable             275 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 17.3+ KB

In [ ]:
df.count()

Date                        366
Shape of You                366
Despacito                   359
Something Just Like This    319
HUMBLE.                     282
Unforgettable               275
dtype: int64

In [ ]:
df.columns

Index(['Date', 'Shape of You', 'Despacito', 'Something Just Like This',
       'HUMBLE.', 'Unforgettable'],
      dtype='object')

In [ ]:
df.shape

(366, 6)

In [ ]:
df.index

RangeIndex(start=0, stop=366, step=1)

In [ ]:
df[3:]

           Date  Shape of You  ...    HUMBLE.  Unforgettable
3    2017-01-09      14506351  ...        NaN            NaN
4    2017-01-10      14275628  ...        NaN            NaN
5    2017-01-11      14372699  ...        NaN            NaN
6    2017-01-12      14148108  ...        NaN            NaN
7    2017-01-13      14536236  ...        NaN            NaN
..          ...           ...  ...        ...            ...
361  2018-01-05       4492978  ...  2685857.0      2869783.0
362  2018-01-06       4416476  ...  2559044.0      2743748.0
363  2018-01-07       4009104  ...  2350985.0      2441045.0
364  2018-01-08       4135505  ...  2523265.0      2622693.0
365  2018-01-09       4168506  ...  2727678.0      2627334.0

[363 rows x 6 columns]

In [ ]:
df[100:120]

           Date  Shape of You  ...     HUMBLE.  Unforgettable
100  2017-04-16      10010095  ...  10040949.0      1200146.0
101  2017-04-17      10765545  ...  11302669.0      1469013.0
102  2017-04-18      11003682  ...  11967713.0      1699884.0
103  2017-04-19      10766018  ...  11640174.0      1725940.0
104  2017-04-20      10826572  ...  11181908.0      1820033.0
105  2017-04-21      11324112  ...  11363409.0      1953608.0
106  2017-04-22      11234996  ...  10274500.0      1890190.0
107  2017-04-23       9744436  ...   8892731.0      1696541.0
108  2017-04-24      10226555  ...  10131992.0      1976553.0
109  2017-04-25      10416529  ...  10156513.0      2105738.0
110  2017-04-26      10483469  ...  10145977.0      2620606.0
111  2017-04-27      10222461  ...  10016786.0      2698186.0
112  2017-04-28      10818508  ...  10309105.0      3028343.0
113  2017-04-29      10836688  ...   9535829.0      3191729.0
114  2017-04-30       9754326  ...   8415625.0      2971223.0
115  2017-05-01       9593805  ...   8737383.0      3253665.0
116  2017-05-02       9706051  ...   9192670.0      3619296.0
117  2017-05-03       9888519  ...   9233418.0      3759408.0
118  2017-05-04       9934971  ...   9207136.0      3855119.0
119  2017-05-05      10520138  ...   9526065.0      4112038.0

[20 rows x 6 columns]

In [ ]:
df.head()

         Date  Shape of You  ...  HUMBLE.  Unforgettable
0  2017-01-06      12287078  ...      NaN            NaN
1  2017-01-07      13190270  ...      NaN            NaN
2  2017-01-08      13099919  ...      NaN            NaN
3  2017-01-09      14506351  ...      NaN            NaN
4  2017-01-10      14275628  ...      NaN            NaN

[5 rows x 6 columns]

In [ ]:
df.tail()

           Date  Shape of You  ...    HUMBLE.  Unforgettable
361  2018-01-05       4492978  ...  2685857.0      2869783.0
362  2018-01-06       4416476  ...  2559044.0      2743748.0
363  2018-01-07       4009104  ...  2350985.0      2441045.0
364  2018-01-08       4135505  ...  2523265.0      2622693.0
365  2018-01-09       4168506  ...  2727678.0      2627334.0

[5 rows x 6 columns]

In [ ]:
df.head(10)

         Date  Shape of You  ...  HUMBLE.  Unforgettable
0  2017-01-06      12287078  ...      NaN            NaN
1  2017-01-07      13190270  ...      NaN            NaN
2  2017-01-08      13099919  ...      NaN            NaN
3  2017-01-09      14506351  ...      NaN            NaN
4  2017-01-10      14275628  ...      NaN            NaN
5  2017-01-11      14372699  ...      NaN            NaN
6  2017-01-12      14148108  ...      NaN            NaN
7  2017-01-13      14536236  ...      NaN            NaN
8  2017-01-14      14173311  ...      NaN            NaN
9  2017-01-15      12889849  ...      NaN            NaN

[10 rows x 6 columns]

In [ ]:
df.tail(15)

           Date  Shape of You  ...    HUMBLE.  Unforgettable
351  2017-12-26       3874765  ...  2035487.0      2044976.0
352  2017-12-27       4393658  ...  2445535.0      2423038.0
353  2017-12-28       4531610  ...  2603003.0      2668312.0
354  2017-12-29       4661519  ...  2604563.0      2825661.0
355  2017-12-30       4707603  ...  2566709.0      2808529.0
356  2017-12-31       7073032  ...  2787752.0      3792953.0
357  2018-01-01       4865387  ...  2368321.0      2537274.0
358  2018-01-02       4541816  ...  2505241.0      2683769.0
359  2018-01-03       4596993  ...  2587620.0      2753557.0
360  2018-01-04       4447076  ...  2575748.0      2710101.0
361  2018-01-05       4492978  ...  2685857.0      2869783.0
362  2018-01-06       4416476  ...  2559044.0      2743748.0
363  2018-01-07       4009104  ...  2350985.0      2441045.0
364  2018-01-08       4135505  ...  2523265.0      2622693.0
365  2018-01-09       4168506  ...  2727678.0      2627334.0

[15 rows x 6 columns]